* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

a,
button,
input,
textarea:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  border: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.header__container {
  background: url(img/bg__main.png) no-repeat top center;
  background-size: cover;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__container {
  background: -o-linear-gradient(350.63deg, #24126A 0%, #EB3371 100%);
  background: linear-gradient(99.37deg, #24126A 0%, #EB3371 100%);
}

header {
  color: #fff;
}

.header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.nav_logo {
  margin-right: 195px;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_list a {
  font-size: 1.6rem;
  margin-right: 45px;
  font-weight: 500;
  color: #fff;
}

.header_list a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__offer img {
  margin-top: 55px;
}

.main__wrap h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
  width: 595px;
  margin-top: 130px;
  margin-bottom: 80px;
}

.main__wrap a {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 25px 85px;
  background: #D73071;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.main__wrap a:hover {
  background: #fff;
  color: #24126A;
}

.advantages {
  padding-bottom: 135px;
}

.advantages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages ul li {
  margin-right: 95px;
  color: #F9FBFC;
}

.figures {
  font-weight: bold;
  font-size: 4.8rem;
  margin-bottom: 15px;
}

.advantages ul li p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.start__container {
  background: #F9FBFC;
  padding: 100px 0;
  text-align: center;
}

.start {
  color: #24126A;
}

.title {
  font-weight: bold;
  font-size: 3.6rem;
  margin-bottom: 60px;
}

.start__wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__wrap ul li img {
  margin-bottom: 35px;
}

.start__wrap ul li h4 {
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 289px;
}

.start__wrap p {
  font-size: 2rem;
  line-height: 1.5;
  color: #706D6D;
  width: 350px;
}

.cost__container {
  background: -o-linear-gradient(346.99deg, #7CC1E0 0%, #3763A1 100%);
  background: linear-gradient(103.01deg, #7CC1E0 0%, #3763A1 100%);
  padding: 100px 0;
  color: #fff;
  text-align: center;
}

.white {
  color: #fff;
  text-align: center;
}

.cost ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cost ul li h4 {
  text-align: center;
  background: #3866A2;
  border-radius: 5px 5px 0px 0px;
  padding: 20px 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2rem;
  width: 270px;
}

.cost__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cost__text img {
  margin-right: 12px;
}

.cost__list {
  border: 1px solid #fff;
  border-top: none;
  height: 560px;
}

.cost__list p {
  width: 186px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.cost__offer > ul:nth-child(1) > li:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  padding-top: 30px;
}

.cost__offer > ul:nth-child(1) > li:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  padding-top: 30px;
}

.cost__offer > ul:nth-child(1) > li:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
  padding-top: 30px;
}

.cost__offer > ul:nth-child(1) > li:nth-child(4) > div:nth-child(2) > div:nth-child(1) {
  padding-top: 30px;
}

.cost__list p {
  text-align: left;
}

.cost__list h3 {
  font-size: 2.4rem;
  margin: 50px 0;
}

.cost__list a {
  background: #EB3371;
  border-radius: 5px;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 54px;
  margin-bottom: 30px;
}

.cost__list a:hover {
  background: #24126A;
}

.cost__offer > ul:nth-child(1) > li:nth-child(1) > div:nth-child(2) > h3:nth-child(7) {
  margin-top: 50px;
}

.cost__offer > ul:nth-child(1) > li:nth-child(2) > div:nth-child(2) > h3:nth-child(7) {
  margin-top: 50px;
}

span {
  color: #74B6D9;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 50px;
}

.contacts__container {
  background: url(../img/bg.svg) no-repeat top center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  height: 940px;
}

.contacts h2 {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 50px;
  color: #1D262D;
}

.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__wrap img {
  position: absolute;
  bottom: 0;
}

.contacts form {
  position: relative;
}

.contacts form {
  width: 40%;
}

.contacts__wrap img {
  width: 600px;
}

.contacts form input {
  font-size: 1.6rem;
  padding: 23px 0 23px 20px;
  background: #FFFFFF;
  border: 1px solid #989B9E;
  width: 485px;
  border-radius: 5px;
  display: block;
  margin-bottom: 30px;
}

.contacts form button {
  font-size: 1.6rem;
  padding: 23px 0 23px 20px;
  color: #fff;
  text-transform: uppercase;
  width: 485px;
  background: #EB3371;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

.contacts form button:hover,
.cost__list button:hover {
  background: #24126A;
}

.select:after {
  content: url(../img/Polygon.svg);
  position: absolute;
  top: 41%;
  right: 5%;
  display: block;
  pointer-events: none;
  z-index: 1;
}

.select select {
  display: block;
  width: 485px;
  padding: 25px 0 25px 20px;
  background: none;
  border: 1px solid #989B9E;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 30px;
}

.select select:focus {
  outline: 0;
  border-color: #0891e6;
}

option {
  background-color: #fff;
  font-size: 1.8rem;
  width: 80%;
  font-family: Montserrat;
  color: #11344f;
}

.footer__container {
  background: #194274;
  padding: 30px;
  text-align: center;
  color: #fff;
}

footer p {
  font-size: 1.4rem;
}

.cost__offer > ul:nth-child(1) > li:nth-child(3) > div:nth-child(2) > h3:nth-child(7) {
  margin-top: 30px;
}

.cost__offer > ul:nth-child(1) > li:nth-child(4) > div:nth-child(2) > h3:nth-child(7) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .container {
    width: 95%;
  }

  .main__wrap h1 {
    font-size: 3rem;
    margin-top: 70px;
    margin-bottom: 55px;
    width: 90%;
  }

  .main__wrap button {
    margin-bottom: 35px;
  }

  .figures {
    font-size: 3.8rem;
  }

  .advantages ul li {
    margin-right: 35px;
  }

  .advantages ul li p {
    font-size: 1.4rem;
  }

  .nav_logo {
    margin-right: 95px;
  }

  .advantages {
    padding-bottom: 55px;
  }

  .main__offer > picture:nth-child(2) > img:nth-child(2) {
    width: 100%;
  }

  .main__wrap {
    width: 80%;
  }

  .title {
    font-size: 2.6rem;
  }

  .start__container {
    padding: 60px 0;
  }

  .start__wrap ul li img {
    margin-bottom: 25px;
  }

  .start__wrap ul {
    width: 100%;
  }

  .start__wrap p {
    width: 100%;
  }

  .start__wrap ul li h4 {
    width: 100%;
  }

  .cost__container {
    padding: 100px 0;
    padding: 60px 0;
  }

  .cost ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cost ul li h4 {
    width: 100%;
  }

  .cost ul li h4 {
    width: 100%;
  }

  .cost__list p {
    width: 80%;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(1) > div:nth-child(2) > h3:nth-child(7) {
    margin-top: 30px;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(2) > div:nth-child(2) > h3:nth-child(7) {
    margin-top: 30px;
  }

  .cost ul li h4 {
    margin-top: 30px;
  }

  .title {
    margin-bottom: 40px;
  }

  .cost__list {
    width: 100%;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(1) {
    margin-right: 30px;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(3) {
    margin-right: 30px;
  }

  span {
    font-size: 2.6rem;
  }

  .contacts h2 {
    font-size: 2.6rem;
  }

  .contacts__container {
    padding: 60px 0;
  }

  .contacts__wrap img {
    left: 0%;
    width: 50%;
  }

  .contacts form input {
    width: 100%;
    margin-bottom: 20px;
  }

  .select select {
    width: 100%;
  }

  .contacts form button {
    width: 100%;
  }

  .select::after {
    top: 40%;
    right: 5%;
  }

  .contacts__container {
    height: 740px;
  }

  .contacts__wrap img {
    width: 45%;
  }

  .cost__list {
    height: 480px;
  }

  .contacts form input {
    font-size: 1.4rem;
  }

  .select select {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 950px) {
  .cost__offer > ul:nth-child(1) > li:nth-child(1) > div:nth-child(2) > h3:nth-child(7) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 892px) {
  .cost__offer > ul:nth-child(1) > li:nth-child(1) > div:nth-child(2) > h3:nth-child(7) {
    margin-top: 10px;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(4) > div:nth-child(2) > h3:nth-child(7) {
    margin: 40px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 95%;
  }

  body.lock {
    overflow: hidden;
  }

  .header_burger {
    display: block;
    position: absolute;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 5;
  }

  .header_burger:before,
  .header_burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header_burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header_burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 60px 0 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  .header_menu.active {
    top: 0px;
  }

  .header_list {
    display: block;
  }

  .header_list li {
    padding: 20px;
    margin: 0 40px 10px 0;
    text-align: end;
  }

  .header_list li:before {
    content: url(../img/sl-arrow_r.svg);
  }

  .header_link {
    font-size: 24px;
  }

  .header_list a {
    font-size: 3rem;
    margin-right: 0;
  }

  .header_list li {
    text-align: center;
  }

  .header_list {
    margin-top: 100px;
  }

  .header_menu {
    background-color: rgba(0, 0, 0, 0.87);
  }

  .header_list li {
    margin: 0;
  }

  .main__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
  }

  .main__offer img {
    width: 100%;
  }

  .main__wrap h1 {
    font-size: 3rem;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .advantages ul {
    display: block;
  }

  .advantages ul li p {
    margin-bottom: 20px;
  }

  .advantages {
    padding-bottom: 65px;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .start__container {
    padding: 60px 0;
  }

  .main__offer {
    display: block;
  }

  .main__offer img {
    width: 100%;
  }

  .main__wrap h1 {
    font-size: 3rem;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .advantages ul {
    display: block;
  }

  .advantages ul li p {
    margin-bottom: 20px;
  }

  .advantages {
    padding-bottom: 65px;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .start__container {
    padding: 60px 0;
  }

  .start__wrap ul {
    display: block;
  }

  .start__wrap ul li h4 {
    font-size: 1.8rem;
    width: 100%;
  }

  .start__wrap p {
    width: 100%;
    margin-bottom: 30px;
  }

  .start__wrap p {
    font-size: 1.4rem;
  }

  .start__container {
    padding: 60px 0 40px 0;
  }

  .cost__container {
    padding: 60px 0;
  }

  .cost ul {
    display: block;
  }

  .cost ul li h4 {
    width: 100%;
  }

  .cost__list p {
    width: 80%;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(1) > div:nth-child(2) > h3:nth-child(7) {
    margin-top: 20px;
  }

  .cost__text {
    text-align: center;
  }

  .cost__list {
    height: 440px;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(1) {
    margin-bottom: 20px;
  }

  span {
    font-size: 2rem;
  }

  .contacts h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .contacts__container {
    padding: 60px 0;
  }

  .contacts__wrap {
    display: block;
  }

  .select::after {
    right: 1%;
  }

  .contacts__wrap img {
    width: 50%;
  }

  .contacts form input {
    margin-bottom: 20px;
  }

  .select::after {
    top: 40%;
  }

  .contacts form {
    width: 100%;
  }

  .contacts form input {
    width: 100%;
  }

  .select select {
    width: 100%;
  }

  .contacts form button {
    width: 100%;
  }

  .contacts__container {
    height: 95vh;
  }

  .select::after {
    right: 5%;
  }

  .main__offer img {
    width: 80%;
  }

  .nav_logo > picture:nth-child(1) > img:nth-child(2) {
    width: 200px;
  }

  .cost ul li h4 {
    margin-top: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 95%;
  }

  body.lock {
    overflow: hidden;
  }

  .header_burger {
    display: block;
    position: absolute;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 5;
  }

  .header_burger:before,
  .header_burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header_burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header_burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 60px 0 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  .header_menu.active {
    top: 0px;
  }

  .header_list {
    display: block;
  }

  .header_list li {
    padding: 20px;
    margin: 0 40px 10px 0;
    text-align: end;
  }

  .header_list li:before {
    content: url(../img/sl-arrow_r.svg);
  }

  .header_link {
    font-size: 1.8rem;
  }

  .header_list a {
    font-size: 3rem;
    margin-right: 0;
  }

  .header_list li {
    text-align: center;
  }

  .header_list {
    margin-top: 100px;
  }

  .header_menu {
    background-color: rgba(0, 0, 0, 0.87);
  }

  .header_list li {
    margin: 0;
  }

  .main__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
  }

  .main__offer img {
    width: 100%;
  }

  .main__wrap h1 {
    font-size: 3rem;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .advantages ul {
    display: block;
  }

  .advantages ul li p {
    margin-bottom: 20px;
  }

  .advantages {
    padding-bottom: 65px;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .start__container {
    padding: 60px 0;
  }

  .main__offer {
    display: block;
  }

  .main__offer img {
    width: 100%;
  }

  .main__wrap h1 {
    width: 100%;
    margin-bottom: 50px;
  }

  .advantages ul {
    display: block;
  }

  .advantages ul li p {
    margin-bottom: 20px;
  }

  .advantages {
    padding-bottom: 65px;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .start__container {
    padding: 60px 0;
  }

  .start__wrap ul {
    display: block;
  }

  .start__wrap ul li h4 {
    font-size: 1.8rem;
    width: 100%;
  }

  .start__wrap p {
    width: 100%;
    margin-bottom: 30px;
  }

  .start__wrap p {
    font-size: 1.4rem;
  }

  .start__container {
    padding: 60px 0 40px 0;
  }

  .cost__container {
    padding: 60px 0;
  }

  .cost ul {
    display: block;
  }

  .cost ul li h4 {
    width: 100%;
  }

  .cost__list p {
    width: 80%;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(1) > div:nth-child(2) > h3:nth-child(7) {
    margin-top: 20px;
  }

  .cost__text {
    text-align: center;
  }

  .cost__list {
    height: 480px;
  }

  .cost__offer > ul:nth-child(1) > li:nth-child(1) {
    margin-bottom: 20px;
  }

  span {
    font-size: 2rem;
  }

  .contacts h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .contacts__container {
    padding: 60px 0;
  }

  .contacts__wrap {
    display: block;
  }

  .select::after {
    right: 1%;
  }

  .contacts__wrap img {
    width: 50%;
  }

  .contacts form input {
    margin-bottom: 20px;
  }

  .select::after {
    top: 40%;
  }

  .contacts form {
    width: 100%;
  }

  .contacts form input {
    width: 100%;
  }

  .select select {
    width: 100%;
  }

  .contacts form button {
    width: 100%;
  }

  .select::after {
    right: 5%;
  }

  .main__offer img {
    width: 80%;
  }

  .cost ul li h4 {
    margin-top: 30px;
  }

  .nav_logo > picture:nth-child(1) > img:nth-child(2) {
    width: 150px;
  }

  .main__wrap h1 {
    font-size: 2rem;
    margin-top: 50px;
  }

  .main__offer img {
    width: 100%;
  }

  .main__wrap a {
    padding: 20px 55px;
  }

  .figures {
    font-size: 3rem;
  }

  .start__wrap ul li img {
    margin-bottom: 15px;
  }

  .contacts form input {
    margin-bottom: 10px;
  }

  .contacts__container {
    height: 110vh;
  }

  .select select {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .contacts form input {
    padding: 25px 0 25px 20px;
  }
}

.webp .header__container { background: url(img/bg__main.webp) no-repeat top center; }